<div class="wrapper">
	<div id="topbar">
		<img src="images/bondlogo.svg" id="bondlogo" alt="Bond Logo">
		<img src="images/menu.svg" id="menu" alt="Menu"> <!-- Modified from menu icon by Timothy Miller - iconfinder.com-->
	</div>
	<div class="imgcontainer cover"></div>
	<div class="container">
		<div class="col-left">
			<h3 id="project">About the Project</h3>
		</div>
		<div class="content col-right">
			<div class="col-2">
				<p>
					The Technology Development Center (TDC) of the University of Pittsburgh Medical Center (UPMC) tasked us with finding a designed solution that would strengthen the collaboration between patients and the ir physicians, create a deeper engagement with the healthy system as a whole, and improve the outcomes of patients. We formulated the following hunt statement to focus our research efforts in the space.
				</p>
				<h3 class="callout">
					Motivate hypertension patients toward healthy lifestyle change by improving the partnership with their clinicians.
				</h3>
				<p>
					This project will be completed in two phases: the discovery phase and the design phase. The goal of the discovery phase is to understand the current healthcare domain. Methods that will be employed during this phase include literature reviews, guerrilla interviews, directed story-telling sessions with patients and clinicians, and cultural probes. Insights gained from a thorough understanding of the healthcare domain will drive the solution that will be designed in phase two, the design phase of the project. 
				</p>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="imgcontainer domain-analysis"></div>
	<div class="container">
		<div class="col-left">
			<h3 id="domain">
				Domain Analysis
			</h3>
		</div>
		<div class="col-right content">
			<div class="methodcontainer">
				<div class="methodcontent">
					<div class="imgcontainer">
						<img src="images/domain-analysis/lit-review.svg">
					</div>
					
					<h4>Literature Review</h4>
					<p>
						We reviewed over 50 literature articles in the healthcare and behavior change domains. We gained insights into these areas: factors influencing behavior change, strategies for presenting information, the patient-clinician relationship and design guidelines for the healthcare context.
					</p>
				</div>
			</div>
			<div class="methodcontainer">
				<div class="methodcontent">
					<div class="imgcontainer">
						<img src="images/domain-analysis/competitive-analysis.svg">
					</div>
					<h4>Competitive Analysis</h4>
					<p>
						We examined over 30 companies to discover the strategies they employed to motivate healthy behaviors. We focused on companies that motivated lifestyle and diet change, as well as companies that created communication tools to facilitate patient-clinician communication. 
					</p>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="imgcontainer field-discovery"></div>
	<div class="container">
		<div class="col-left">
			<h3 id="discovery">Discovery Methods</h3>
		</div>
		<div class="col-right content">
			<div class="methodcontainer">

				<div class="methodcontent">
					<div class="imgcontainer">
						<img src="images/discovery-methods/guerilla-interview.svg">
					</div>
					<h4>Guerilla Interviews</h4>
					<ul>
						<li>Discover people’s general health habits</li>
						<li>Probe for motivating factors</li>
						<li>Learn about the role of their clinicians in their lives</li>
					</ul>
				</div>
			</div>
			<div class="methodcontainer">
				<div class="methodcontent">
					<div class="imgcontainer">
						<img src="images/discovery-methods/expert-interview.svg">
					</div>
					<h4>Expert Interviews</h4>
					<ul>
						<li>Behavioral change experts from Social and Decision Sciences at CMU</li>
						<li>Behavioral change principles</li>
						<li>Motivation strategies and ideas</li>
					</ul>
				</div>

			</div>
			<div class="methodcontainer">

				<div class="methodcontent">
					<div class="imgcontainer">
						<img src="images/discovery-methods/patient-interview.svg">
					</div>
					<h4>Directed Storytelling </h4>
					<ul>
						<li>23 Patient-Directed Storytellings</li>
						<li>Hypertension diagnosis to present day</li>
						<li>Gauge patient awareness of their own health</li>
						<li>What triggers patients to relapse?</li>
						<li>Understand the influence of social factors</li>
						<li>Relationship with clinicians</li>
					</ul>
				</div>
			</div>
			<div class="clearfix"></div>

















			<div class="methodcontainer">

				<div class="methodcontent">
					<div class="imgcontainer">
						<img src="images/discovery-methods/diary-studies.svg">
					</div>
					<h4>Diary Studies</h4>
					<ul>
						<li>A week-long diary study to understand life context of participants</li>
						<li>Participants responded to questions about daily stresses, favorite activities, and life around food. </li>
						<li>Responses were captured in writing, photos and drawings</li>
					</ul>
				</div>
			</div>
			<div class="methodcontainer">
				<div class="methodcontent">
					<div class="imgcontainer">
						<img src="images/discovery-methods/home-visit.svg">
					</div>
					<h4>Home Visits</h4>
					<ul>
						<li>Visited homes of 5 diary study participants</li>
						<li>Deepened empathy for our participants and provided inspiration</li>
						<li>Provided context of their living environment and options for healthy choices</li>
						<li>Tagging activity to label “my food” and “not my food”</li>
					</ul>
				</div>
			</div>

			<div class="methodcontainer">

				<div class="methodcontent">
					<div class="imgcontainer">
						<img src="images/discovery-methods/clinician-interview.svg">
					</div>
					<h4>Clinician Interviews</h4>
					<ul>
						<li>Identify responsibilities of various clinicians</li>
						<li>How different stakeholders influence each other </li>
						<li>Behavior change strategies that are most successful</li>
						<li>The biggest challenges to behavior change adoption and maintenance</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="imgcontainer" id="team"></div>
	<div class="container" id="teamprofile">
		<div class="profile">
			<span class="name">Chin Wei Wong</span>
			<span class="title">User Experience Lead</span>
			<p>
				Chin Wei has a background in Science (Chemistry) and has worked in the Mixed Reality Lab as a research assistant as	well as an interaction designer in a digital marketing agency. He has a passion for simplifying complexity in a way that is both useful and meaningful to people.
			</p>
		</div>
		<div class="profile">
			<span class="name">Jennifer Morioka</span>
			<span class="title">Project Lead</span>
			<p>
				Jennifer has a background in anthropology and fine arts. She has eight years of industry experience as a visual	designer working on marketing and product teams. She is interested in the intersection of design, technology and entrepreneurship and how the effective cross-section of all three can be used to develop innovative products or services to ameliorate meaningful problems in health care.
			</p>
		</div>
		<div class="profile">
			<span class="name">Ayo Olubeko</span>
			<span class="title">Technical Lead</span>
			<p>
				Ayo Olubeko has a background in Computer Science and Electrical Engineering. He is a futurist at heart fascinated by the increasingly hybrid physical-digital world we live in. Tactile and haptic interfaces, smart objects, augmented reality -- he aims to solve human problems by utilizing the unique capabilities of people, the physical world, and the digital world.
			</p>
		</div>
		<div class="profile">
			<span class="name">Kate Vogt</span>
			<span class="title">Research Lead</span>
			<p>
				Kate has a background in Computer Information Systems and industry experience as a Systems Analyst. With a passion for effective user interactions, she brings experience in user research and some design. With every product, her goal is to develop something that brings out the best in the people interacting with it.
			</p>
		</div>
		<div class="profile">
			<span class="name">Yu Ma</span>
			<span class="title">Interaction Design Lead</span>
			<p>
				Yu Ma has a background in Computer Science and experience in computer graphics and human computer interactions. She likes to create and improve the interactions between products and users. She is also interested in engaging herself in the interactions as well as communications among design, development and management of products and services.
			</p>
		</div>
	</div>
	<div class="clearfix"></div>
	<div id="footer">
		<a href="http://www.upmc.com" target="_blank">
			<img src="images/logo_upmc.svg" width="200px" alt="UPMC Logo">
		</a>
		<a href="http://www.hcii.cmu.edu" target="_blank">
			<img src="images/logo_hcii.svg" width="50px" height="auto" alt="HCII Logo">
		</a>
		<a href="http://www.cmu.edu" target="_blank">
			<img src="images/logo_cmu.svg" width="100px" height="auto" alt="CMU Logo">
		</a>
	</div>
</div>

<!-- Navigation Overlay Elements-->
<div class="overlay-container overlay">
	<a href="#" class="overlay-close">
		<img src="images/closeicon.svg" width="50px">
	</a>
	<nav>
		<ul>
			<li><a href="#project">About Project</a></li>
			<li><a href="#domain">Domain Analysis</a></li>
			<li><a href="#discovery">Discovery Methods</a></li>
			<li><a href="#team">About Team</a></li>
		</ul>
	</nav>
</div>

